* {
  box-sizing: border-box;
  font-family: 'Source Serif Pro', serif;
}

.home-search {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(images/background-img.jpg);
  position: absolute;
  top: 100px;
}

.container {
  width: 250px;
  height: 100px;
}

.buttons {
  height: 35px;
  width: 170px;
  font-size: 22px;
  border-radius: 7px 7px 0 0;
}

.buttons.search {
  width: 90px;
  background-color: rgba(0, 142, 151, 1);
  color: white;
  border: solid rgba(0, 142, 151, 1) 2px;
  border-bottom: none;
}

.buttons.filter {
  width: 80px;
  background-color: rgba(244, 249, 249, 1);
  border: solid rgba(0, 142, 151, 1) 2px;
  border-bottom: none;
}

.search-input {
  width: 250px;
  height: 40px;
  border: solid rgba(0, 142, 151, 1) 2px;
  font-style: italic;
  font-size: 18px;
  border-radius: 0 7px 7px 7px;
  padding-left: 10px;
}

.search-suggestions {
  width: 246px;
  height: 40px;
  color: black;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.search-results-container {
  width: 250px;
  border: solid rgba(0, 142, 151, 1) 2px;
  border-radius: 7px;
  background-color: white;
}

/* activities */

.activity-results-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  z-index: 1;
}

.results {
  width: 300px;
  margin-bottom: 30px;
}

.result {
  width: 300px;
  margin-top: 30px;
}

.title-filter {
  margin-left: 2rem;
  width: 275px;
  display: flex;
  align-items: center;
}

.mini-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.back-results {
  text-decoration: none;
  color: black;
  cursor: pointer;
  margin-right: 2rem;
}

.information {
  width: 300px;
  text-align: center;
}

.get-ticket {
  width: 120px;
  height: 40px;
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: 18px;
  border: none;
  border-radius: 7px;
  background-color: rgba(0, 142, 151, 1);
  color: white;
}

.back {
  width: 300px;
  height: 30px;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-top: 30px;
}

.image-top,
.image-bottom,
.image-solo {
  width: 100%;
}

.image-top {
  padding-bottom: 20px;
}

@media screen and (min-width: 500px) {
  .container {
    width: 350px;
  }

  .search-input {
    width: 350px;
    border-radius: 7px 0 7px 7px;
  }

  .buttons {
    float: right;
  }

  .search-results-container {
    width: 350px;
  }

  .search-suggestions {
    width: 346px;
  }
}

@media screen and (min-width: 645px) {
  .results,
  .result,
  .back,
  .information {
    width: 500px;
  }
}

@media screen and (min-width: 900px) {
  .result,
  .back,
  .information {
    width: 800px;
  }

  .image-top,
  .image-bottom {
    width: 50%;
  }

  .image-top {
    padding-right: 10px;
  }

  .image-bottom {
    padding-left: 10px;
  }

  .results {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }

  .individual-result {
    width: 45%;
  }
}
